<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add a Bank Account</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Add a Bank Account:</h1>
            
      <form th:action="@{/addABankAccount}" th:object="${bankAccount}" method="POST">
         IBAN :
         <input type="text" th:field="*{IBAN}"  />    
         <br/>
         <input type="submit" value="Add My Bank Account" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>