<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Pay My Buddy</title>
	 	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div class="container">
			<h1 style="text-align: center"><span id="logo" >Pay My Buddy</span></h1>
	
			<form class="form-signin" th:action="@{/login}" method="POST">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password</div>
				</div>
				
				<input type="text" name="username" id="username" th:placeholder="Username" class="form-control" />
				<input type="text" name="password" id="password" th:placeholder="Password" class="form-control" />
				
				<label  for="remembermechbox">Remember Me : 
				<input type="checkbox" name="remember-me" id="remembermechbox" />
				</label>
				
				<button class="button" type="submit">Log In</button>
				
    		</form>
		</div>
	</body>
</html>