<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>My Transactions</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>My Transactions</h1>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Connections</th>
               <th>Descriptions</th>
               <th>Amount</th>
               
            </tr>
            <tr th:each ="transaction : ${myTransactions}">
               <td th:utext="${transaction.receiverAccounts}">...</td>
               <td th:utext="${transaction.description}">...</td>
               <td th:utext="${transaction.amount}">...</td>
               
               
            </tr>
         </table>
      </div>
      
      <h1><a href="home">Home</a></h1>
   </body>
</html>