<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Transfer</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Send Money to a Buddy :</h1>
      
      <h2> My Balance = <span th:text="${balance}"></span></h2>
            
      <form th:action="@{/transfer}"
         th:object="${transaction}" method="POST">
         Your Buddy's email:
         <input type="text" th:value="${email}" name="email" />     
         <br/>
         Amount :
         <input type="number" th:field="*{amount}" />    
         <br/>
         Description :
         <input type="text" th:field="*{description}" />    
         <br/>
         
         
         <input type="submit" value="Send Money" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
</html>